nav {
    background: gray;
    overflow: hidden;
}

h1 {
    font-size: 34px;
    float: left;
}

.menu-nav {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    float: right;
    text-align: center;
    padding: 14px 16px;
}