nav {
    background: gray;
    overflow: hidden;
}

h1 {
    font-size: 34px;
    float: center;
}

.menu-nav {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    display: none;
}

.arrow-down-icon {

}

li {
    list-style: none;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 34px;
    }

    li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        float: left;
    }

    .menu-nav {
        display: inline-block;
    }

    .arrow-down-icon {
        display: none;
    }
}